workflows/parte1-busqueda-recopilacion.json
{
  "name": "copiar",
  "nodes": [
    {
      "parameters": {},
      "id": "2cbf3931-ca79-4c23-b167-76b2612f0671",
      "name": "Inicio Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1200,
        112
      ],
      "executeOnce": true,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1sk5YTVmibRXNv1wtkq5HbcC19JEy2zzNFlq-VvS9zJ8/edit?usp=drive_link",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Instagram Input",
          "mode": "name"
        },
        "options": {}
      },
      "id": "e22d28bf-4ad7-4174-bdfc-864f288f9b3e",
      "name": "Leer Usernames de Instagram",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -1008,
        112
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OOzIvIESI9AR5GlQ",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "Lee los usernames de Instagram que agregaste manualmente"
    },
    {
      "parameters": {
        "jsCode": "// Filtrar solo los que no tienen estado 'Procesado'\nconst username = $input.item.json['Username'];\nconst estado = $input.item.json['Estado'] || '';\n\nif (estado.toLowerCase() === 'procesado') {\n  return [];\n}\n\nif (!username || username.trim() === '') {\n  return [];\n}\n\nreturn [{\n  json: {\n    username: username.trim().replace('@', '')\n  }\n}];"
      },
      "id": "f1a2a3bb-0bc0-4c99-abf2-ada855453880",
      "name": "Filtrar Pendientes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        112
      ],
      "notes": "Solo procesa los que no están marcados como 'Procesado'"
    },
    {
      "parameters": {
        "url": "=https://www.instagram.com/{{ $json.username }}/?__a=1&__d=dis",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 15000
        }
      },
      "id": "f988c8b1-6528-4fda-aacd-698600d76487",
      "name": "Obtener Perfil de Instagram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -608,
        112
      ],
      "notes": "Intenta obtener datos del perfil público"
    },
    {
      "parameters": {
        "jsCode": "// Extraer datos del perfil de Instagram\nconst username = $input.item.json.username || $('Filtrar Pendientes').item.json.username;\nlet userData = {};\n\ntry {\n  // Intentar parsear respuesta JSON si existe\n  const response = $input.item.json;\n  if (response.graphql && response.graphql.user) {\n    const user = response.graphql.user;\n    userData = {\n      nombre: user.full_name || username,\n      username: username,\n      bio: user.biography || '',\n      website: user.external_url || '',\n      email: '',\n      seguidores: user.edge_followed_by?.count || 0,\n      siguiendo: user.edge_follow?.count || 0,\n      posts: user.edge_owner_to_timeline_media?.count || 0,\n      es_negocio: user.is_business_account || false,\n      categoria: user.category_name || ''\n    };\n    \n    // Extraer email de la bio si existe\n    const emailRegex = /[a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+\\.[a-zA-Z0-9_-]+/;\n    const emailMatch = userData.bio.match(emailRegex);\n    if (emailMatch) {\n      userData.email = emailMatch[0];\n    }\n  } else {\n    // Si no hay datos estructurados, crear entrada básica\n    userData = {\n      nombre: username,\n      username: username,\n      bio: 'No disponible - perfil privado o error',\n      website: '',\n      email: '',\n      seguidores: 0,\n      siguiendo: 0,\n      posts: 0,\n      es_negocio: false,\n      categoria: ''\n    };\n  }\n} catch (error) {\n  // En caso de error, devolver datos básicos\n  userData = {\n    nombre: username,\n    username: username,\n    bio: 'Error al obtener datos',\n    website: '',\n    email: '',\n    seguidores: 0,\n    siguiendo: 0,\n    posts: 0,\n    es_negocio: false,\n    categoria: ''\n  };\n}\n\nreturn [{\n  json: {\n    ...userData,\n    url_instagram: `https://instagram.com/${username}`,\n    fecha_recopilacion: new Date().toISOString().split('T')[0]\n  }\n}];"
      },
      "id": "aabc8334-7d0d-4f9d-92d4-d237c65e2ad8",
      "name": "Procesar Datos de Instagram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.website }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "eafebc3c-c41f-4b5f-8e24-e5e856a9c5af",
      "name": "¿Tiene Website?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -208,
        112
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.website }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "8cc08d1e-62e8-4f0e-ba2f-bdfc88a1b14e",
      "name": "Extraer Email del Website",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        0,
        0
      ],
      "notes": "Busca emails en el website si existe"
    },
    {
      "parameters": {
        "jsCode": "// Extraer emails del HTML del website\nconst html = $input.item.json.body || $input.item.binary?.data?.toString() || '';\nconst emailRegex = /[a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+\\.[a-zA-Z0-9_-]+/gi;\nconst emails = html.match(emailRegex) || [];\n\n// Filtrar emails comunes que no son de contacto\nconst filteredEmails = [...new Set(emails)].filter(email => \n  !email.includes('example.com') && \n  !email.includes('domain.com') &&\n  !email.includes('sentry.io') &&\n  !email.includes('google.com') &&\n  !email.includes('wix.com')\n);\n\nconst previousData = $('Procesar Datos de Instagram').item.json;\n\n// Si encontramos email en el website y no tenía uno, actualizamos\nif (filteredEmails.length > 0 && !previousData.email) {\n  previousData.email = filteredEmails[0];\n}\n\nreturn [{\n  json: previousData\n}];"
      },
      "id": "df6592e8-929b-4788-843b-cc3292fe274c",
      "name": "Extraer Email del HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1sk5YTVmibRXNv1wtkq5HbcC19JEy2zzNFlq-VvS9zJ8/edit?usp=drive_link",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Negocios Instagram",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nombre": "={{ $json.nombre }}",
            "username": "={{ $json.username }}",
            "url_instagram": "={{ $json.url_instagram }}",
            "website": "={{ $json.website }}",
            "email": "={{ $json.email }}",
            "bio": "={{ $json.bio }}",
            "seguidores": "={{ $json.seguidores }}",
            "es_negocio": "={{ $json.es_negocio }}",
            "categoria": "={{ $json.categoria }}",
            "fecha_recopilacion": "={{ $json.fecha_recopilacion }}",
            "estado": "Pendiente Envío"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url_instagram",
              "displayName": "url_instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "website",
              "displayName": "website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bio",
              "displayName": "bio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "seguidores",
              "displayName": "seguidores",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "es_negocio",
              "displayName": "es_negocio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "categoria",
              "displayName": "categoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_recopilacion",
              "displayName": "fecha_recopilacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ddc5f520-b2e9-4c09-949c-c569bdc641fb",
      "name": "Guardar en Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        400,
        112
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OOzIvIESI9AR5GlQ",
          "name": "Google Sheets account"
        }
      },
      "notes": "Guarda los datos procesados en la hoja de resultados"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1sk5YTVmibRXNv1wtkq5HbcC19JEy2zzNFlq-VvS9zJ8/edit?usp=drive_link",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Instagram Input",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 0,
            "Username": "="
          },
          "matchingColumns": [
            "Username"
          ],
          "schema": [
            {
              "id": "Username",
              "displayName": "Username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "0eaf29c2-76db-4b15-a499-2675e92f064e",
      "name": "Marcar como Procesado",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        672,
        112
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OOzIvIESI9AR5GlQ",
          "name": "Google Sheets account"
        }
      },
      "notes": "Actualiza el estado en la hoja de input"
    }
  ],
  "pinData": {},
  "connections": {
    "Inicio Manual": {
      "main": [
        [
          {
            "node": "Leer Usernames de Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Usernames de Instagram": {
      "main": [
        [
          {
            "node": "Filtrar Pendientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Pendientes": {
      "main": [
        [
          {
            "node": "Obtener Perfil de Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Perfil de Instagram": {
      "main": [
        [
          {
            "node": "Procesar Datos de Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Datos de Instagram": {
      "main": [
        [
          {
            "node": "¿Tiene Website?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Tiene Website?": {
      "main": [
        [
          {
            "node": "Extraer Email del Website",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guardar en Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Email del Website": {
      "main": [
        [
          {
            "node": "Extraer Email del HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Email del HTML": {
      "main": [
        [
          {
            "node": "Guardar en Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar en Google Sheets": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "040984e5-2ed2-4286-b01d-17383840f4e9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d1b919c8bc80e6e58cc69d01d2f46e38c8e989f529e60348fe396fa2ea20bc7c"
  },
  "id": "1Yh1S-qEcfngHauq9DjgY",
  "tags": []
}